../../../../-1.14-windows.xml
        ../../../../.BigNox/
        ../../../../.Ld9VirtualBox/
        ../../../../.VirtualBox/
        ../../../../.android/
        ../../../../.azuredatastudio/
        ../../../../.bash_history
        ../../../../.cache/
        ../../../../.codetogether/
        ../../../../.config/
        ../../../../.ctsystem
        ../../../../.docker/
        ../../../../.dotnet/
        ../../../../.eclipse/
        ../../../../.emulator_console_auth_token
        ../../../../.expo/
        ../../../../.git-for-windows-updater
        ../../../../.gitconfig
        ../../../../.gnupg/
        ../../../../.gradle/
        ../../../../.jdks/
        ../../../../.lesshst
        ../../../../.m2/
        ../../../../.minttyrc
        ../../../../.oracle_jre_usage/
        ../../../../.p2/
        ../../../../.quokka/
        ../../../../.redhat/
        ../../../../.ssh/
        ../../../../.thinkbuzan/
        ../../../../.vscode/
        ../../../../.yarnrc
        ../../../../2022-06-25-140512-spacedeskConnectionSettings.reg
        ../../../../3D Objects/
        ../../../../AndroidStudioProjects/4TLStylist.rar
        ../../../../AndroidStudioProjects/4TLStylist/
        ../../../../AndroidStudioProjects/Assigment_PH35035/
        ../../../../AndroidStudioProjects/AvtApp/
        ../../../../AndroidStudioProjects/Du_An_1_clone/
        ../../../../AndroidStudioProjects/FCODE/
        ../../../../AndroidStudioProjects/FireBaseAPP/
        ../../../../AndroidStudioProjects/GitDemo/
        ../../../../AndroidStudioProjects/HaircutScheduling_AndroidStudio_Java/
        ../../../../AndroidStudioProjects/JetComposeText/
        ../../../../AndroidStudioProjects/Json_hosting/
        ../../../../AndroidStudioProjects/LoginfireBase/
        ../../../../AndroidStudioProjects/Mvvm_app/
        ../../../../AndroidStudioProjects/MyApplication/
        ../../../../AndroidStudioProjects/MyNote/
        ../../../../AndroidStudioProjects/MyNotes/
        ../../../../AndroidStudioProjects/Notes/
        ../../../../AndroidStudioProjects/Otp_inforbip_APP/
        ../../../../AndroidStudioProjects/PNLib/
        ../../../../AndroidStudioProjects/PNLib_PH35035/
        ../../../../AndroidStudioProjects/Project-OOP-INT2204-2/
        ../../../../AndroidStudioProjects/QuanLyKhoTeam1_XuongMobileLv1/
        ../../../../AndroidStudioProjects/Sallerapp/
        ../../../../AndroidStudioProjects/Server/
        ../../../../AndroidStudioProjects/ShopingMaster/
        ../../../../AndroidStudioProjects/Sp23_QuanLyNhaTro_H2CLT_Nhom1/
        ../../../../AndroidStudioProjects/TestFireBase2/
        ../../../../AndroidStudioProjects/Truyn18/
        ../../../../AndroidStudioProjects/Vanh_PH35035/
        ../../../../AndroidStudioProjects/android_sever_nodeJs/
        ../../../../AndroidStudioProjects/api_keys/
        ../../../../AndroidStudioProjects/app/
        ../../../../AndroidStudioProjects/app2/
        ../../../../AndroidStudioProjects/appquancao/
        ../../../../AndroidStudioProjects/autoCompleteText/
        ../../../../AndroidStudioProjects/bannerapp/
        ../../../../AndroidStudioProjects/barchart/
        ../../../../AndroidStudioProjects/cartdemo/
        ../../../../AndroidStudioProjects/datePickerDialog/
        ../../../../AndroidStudioProjects/demo/
        ../../../../AndroidStudioProjects/demoFirebase/
        ../../../../AndroidStudioProjects/demo_github/
        ../../../../AndroidStudioProjects/facebook/
        ../../../../AndroidStudioProjects/fireBase/
        ../../../../AndroidStudioProjects/gg/
        ../../../../AndroidStudioProjects/git3/
        ../../../../AndroidStudioProjects/gitDemodev2/
        ../../../../AndroidStudioProjects/gitWorkflow2/
        ../../../../AndroidStudioProjects/git_team/
        ../../../../AndroidStudioProjects/git_team_dev2/
        ../../../../AndroidStudioProjects/git_vanh/
        ../../../../AndroidStudioProjects/gitworkflow/
        ../../../../AndroidStudioProjects/json_android/
        ../../../../AndroidStudioProjects/lab6/
        ../../../../AndroidStudioProjects/login/
        ../../../../AndroidStudioProjects/login_check_password/
        ../../../../AndroidStudioProjects/login_designpattern/
        ../../../../AndroidStudioProjects/login_gg/
        ../../../../AndroidStudioProjects/navbar/
        ../../../../AndroidStudioProjects/notes2/
        ../../../../AndroidStudioProjects/otp2/
        ../../../../AndroidStudioProjects/otpapp/
        ../../../../AndroidStudioProjects/qtlv_git/
        ../../../../AndroidStudioProjects/real_estate_java/
        ../../../../AndroidStudioProjects/recyclerview/
        ../../../../AndroidStudioProjects/salonspot/
        ../../../../AndroidStudioProjects/staffApp/
        ../../../../AndroidStudioProjects/staff_app/
        ../../../../AndroidStudioProjects/test/
        ../../../../AndroidStudioProjects/test2/
        ../../../../AndroidStudioProjects/test_git/
        ../../../../AndroidStudioProjects/test_rebase/
        ../../../../AndroidStudioProjects/testfireBase/
        ../../../../AndroidStudioProjects/textApp/
        ../../../../AndroidStudioProjects/userApp/
        ../../../../AndroidStudioProjects/validations/
        ../../../../AndroidStudioProjects/vanhgit/.idea/vcs.xml
        ../../../../AndroidStudioProjects/vanhteam/
        ../../../../AndroidStudioProjects/vanhteam333/
        ../../../../AndroidStudioProjects/xuong1/
        ../../../../AppData/
        ../../../../Audios/
        ../../../../Contacts/
        ../../../EOS_Client_TVB_HN_10_10_2022/
        ../../../EOS_FPL_HN_03_10_2023 (2).rar
        ../../../EOS_FPL_HN_03_10_2023/
        ../../../GitHub/
        ../../../My Data Sources/
        ../../../PH35035_assgment.rar
        ../../../PH35035_assgment/
        ../../../PH35035_assigment/
        ../../../PH35305_NguyenVietAnh.zip
        ../../../PH35305_NguyenVietAnh/
        ../../../SQL Server Management Studio/
        ../../../Toeic/
        "../../../T\341\273\252 M\341\273\232I.docx"
        ../../../UltraViewer/
        ../../../XuanZhi9/
        ../../../Zalo Received Files/
        ../../../ZaloPlus/
        ../../../accent/
        ../../24HCOFFEE.rar
        ../../APTCOFFEE/
        ../../DemoServer/
        ../../Du_an_1/
        "../../Ph\303\242n chia c\303\264ng vi\341\273\207c.xlsx"
        ../../Server/
        ../../Sp23_QuanLyNhaTro_H2CLT_Nhom1.zip
        ../../Sp23_QuanLyNhaTro_H2CLT_Nhom1/
        ../Lab3-Lab4-jsnc-main.zip
        ../Lab_3, 4/Lab4/
        Lab 7/
        lab5/
        lab6/
        lab8/
        ../bai1.js
        ../gitthu_lab3.rtf
        ../index.html
        ../../node js/
        ../../react_native/
        "../../x\306\260\341\273\237ng lv 2.drawio"
        "../../../c\303\241ch n\341\273\231p b\303\240i tr\303\252n lms.mp4"
        ../../../desktop.ini
        ../../../file/
        ../../../messages/
        ../../../../Downloads/
        ../../../../Favorites/
        ../../../../IdeaProjects/
        ../../../../IntelGraphicsProfiles/
        ../../../../Lab_1/
        ../../../../Links/
        ../../../../Music/
        ../../../../My project/
        ../../../../NTUSER.DAT
        ../../../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TM.blf
        ../../../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000001.regtrans-ms
        ../../../../NTUSER.DAT{a2332f18-cdbf-11ec-8680-002248483d79}.TMContainer00000000000000000002.regtrans-ms
        ../../../../OneDrive/
        ../../../../Pictures/
        ../../../../Saved Games/
        ../../../../Searches/
        ../../../../Videos/
        ../../../../VirtualBox VMs/
        ../../../../bluej/
        ../../../../eclipse-workspace/
        ../../../../eclipse/
        ../../../../java_error_in_studio64.hprof
        ../../../../mercurial.ini
        ../../../../node_modules/
        ../../../../ntuser.dat.LOG1
        ../../../../ntuser.dat.LOG2
        ../../../../ntuser.ini
        ../../../../package-lock.json
        ../../../../package.json
        ../../../../source/